<ul class='todos'>
  <% @todos.each do |todo| %>
    <li class='<%= 'completed' if todo.completed? %>' data-id='<%= todo.id %>'>
      <%= todo.title %>
      <% if todo.completed? %>
        <%= link_to 'Incomplete', todo_completion_path(todo), method: :delete %>
      <% else %>
        <%= link_to 'Complete', todo_completion_path(todo), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Create a Todo', new_todo_path, rel: 'create-todo' %>
