<%= link_to 'Create a Todo', new_todo_path %>

<ul id='my-todos'>
  <% @todos.each do |todo| %>
    <li class='<%= todo_state todo %>' id='<%= dom_id todo %>'>
      <%= todo.description %>
      <%= link_to 'Complete', todo_completion_path(todo), method: :post %>
    </li>
  <% end %>
</ul>
