<%= link_to 'Create a new todo', new_todo_path %>

<ol class='todos'>
  <% @todos.each do |todo| %>
    <li data-id='<%= todo.id %>' class='<%= 'complete' if todo.completed? %>'>
      <%= todo.title %>
      <% if !todo.completed? %>
        <%= link_to 'Complete', todo_completion_path(todo), method: :post %>
      <% else %>
        <%= link_to 'Incomplete', todo_completion_path(todo), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ol>
