<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    Todos

    <% if current_email %>
      <p data-role='welcome'>Welcome, <%= current_email %>!</p>
    <% end %>
  </header>
<%= yield %>

</body>
</html>
